/Manifest.toml
examples/example.ipynb
examples/data/GENO+IMP.ld08.qc-lmm_omega23.bed
examples/data/GENO+IMP.ld08.qc-lmm_omega23.bim
examples/data/GENO+IMP.ld08.qc-lmm_omega23.fam
examples/data/GENO+IMP.ld08.qc-lmm_omega23.hh
examples/data/kinship_projected_loco_1.jld
examples/data/kinship_projected.jld
examples/data/omega23_trim.csv
examples/data/snp/GO_split.h37.0.tsv
examples/data/snp/GO_split.h37.1.tsv
examples/data/snp/GO_split.h37.2.tsv
examples/data/snp/GO_split.h37.3.tsv
examples/data/snp/GO_split.h37.4.tsv
examples/data/snp/GO_split.h37.5.tsv
examples/data/snp/GO_split.h37.6.tsv
examples/data/snp/GO_split.h37.7.tsv
examples/data/snp/GO_split.h37.8.tsv
examples/data/snp/GO_split.h37.9.tsv
examples/data/snp/GO_split.h37.10.tsv
examples/data/snp/GO_split.h37.11.tsv
examples/data/snp/GO_split.h37.12.tsv
examples/data/snp/GO_split.h37.13.tsv
examples/data/snp/GO_split.h37.14.tsv
examples/data/snp/GO_split.h37.15.tsv
examples/data/snp/GO_split.h37.16.tsv
examples/data/snp/GO_split.h37.17.tsv
examples/data/snp/GO_split.h37.18.tsv
examples/data/snp/GO_split.h37.19.tsv
examples/data/snp/GO_split.h37.20.tsv
examples/data/snp/GO_split.h37.21.tsv
examples/data/snp/GO_split.h37.22.tsv
examples/data/snp/GO_split.h37.23.tsv
examples/data/snp/GO_split.h37.24.tsv
